.content {
  border: 2px solid gainsboro;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 500px;
  height: 40px;
  margin: 10px auto;
  background-color: whitesmoke;
  padding-left: 10px;

  input {
    margin: auto 0;
    height: 10px;
  }

  .garbage {
    flex-grow: 1;
    text-align: end;
    margin-right: 10px;
  }
}