.content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 900px;
  margin: 0 auto;
  font-weight: bolder;
  font-size: 0.9em;
  height: calc(100vh - 200px);

  li {
    list-style: square;
    margin-top: 20px;

    a {
      text-decoration: none;
      border: none;
      border-radius: 5px;
      padding: 2px;
      color: black;

      &:visited {
        color: darkgray;
      }

      &:hover {
        color: darkorange;
      }
    }
  }
}